body {
 margin: 0;
 padding: 0;

 font-family: "Roboto", Arial, sans-serif;
 font-size: 16px;
 line-height: 22px;
 font-weight: 400;
 color: #323232;

 background-color: #849d8f;
 background-image: url("img/bg.jpg");
 background-position: top center;
 background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #849d8f;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ed5b3d;
}

.button:hover,
.button:focus,
.button:active {
  background:#ed5b3d;
}

.logo {
  width: 155px;
  height: 65px;
  background-image: url("../img/index-logo.html.svg");
  margin:0px -74px;
  padding: 0px 27px;
}

.main-header {
  margin-bottom: 30px;

  min-height: 80px;
}

.main-header-left {
  width: 400px;
  margin: 0;
  padding: 0;
}

.main-header-left {
  display: flex;
  align-items: center;
}

.user-block li{
  display: inline-block;
}

.user-block {
  width: 280px;
  margin: 0;
  padding: 0;
}

.main-header-left {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
  text-decoration: underline;
}

.main-header-left li {
  display: inline;
}

.user-block {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #849d8f;
}

.user-block a {
  background-color: transparent;
}

.main-header-left li {
  list-style: none;
}

.site-navigation {
  display: flex;
justify-content: space-between;
  width: 350px;
  margin: -11px -54px;
  padding: 0px 2px;
}

.sub-menu {
  display: none;
}

.search-form {
  display: none;
}

.cart-form {
  display: none;
}

.user-block li {
  list-style: none;
}

.main-header-left a,
.user-block a {
  color: #ffffff;
}

.header-time {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #849d8f;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  background-color: #849d8f;
}

.header-contacts {
  display: flex;
  flex-direction: column;
}

.main-header-left a:hover,
.main-header-left a:focus,
.main-header-right a:hover,
.main-header-right a:focus {
  background-color: #d70058;
}

.container {
  width: 995px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 2px solid black;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
}

.slider {
  text-align: center;
}

.slider-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
}

.slider-item a {
  color: #ffffff;

  background:#f8f7f4;
  text-align: center;
}

.promo-left {
  color: #ffffff;
  background-color: #849d8f;
  background-image: url("../img/raspberry.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  margin: 20px;
}

.promo-right {
 color: #ffffff;
 background-color: #849d8f;
 background-image: url("../img/chocolate.jpg");
 background-position: 0 0;
 background-repeat: repeat;
 margin: 20px;
}

.promo .container {
 display: flex;
 justify-content: space-between;
}

.promo .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 26px;
  outline: 2px solid yellow;
}

.ice-cream p {
  color: #ffffff;
}

.ice-cream span {
  color: #ffffff;
}
.ice-cream li {
  list-style: none;
}

.ice-cream {
  width: 1200px;
  margin: 0 auto;
  padding: 0 26px;
  outline: 2px solid green;
}

.ice-cream {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.benefit {
  width: 1200px;
  margin: 0 auto;
  padding: 0 26px;
  outline: 2px solid red;
}

.benefit {
  list-style: none;
  background-image: url("../img/waffle.jpg");
}

.benefit h2 {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.subscribe .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.subscribe .container {
  display: flex;
  justify-content: space-between;
}

.blog-left {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  text-align: left;

  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
}

.blog-left {
  width: 560px;
  margin: 26px;
}

.blog-left p {
  color: #323232;
}

.blog-left a {
  color: #323232;
}

.subscribe-right {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  text-align: left;

  background-color: #f8f7f4;
  background-image: url("../img/mail.jpg");
}

.subscribe-right {
  width: 560px;
  margin: 26px;
}

.subscribe-right p {
  color: #5a5a5a;
}

.subscribe-right input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.subscribe-right button {
  background:#e84d37;
}

.modal-map {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.modal-map p {
  color: #323232;
}

.modal-map button {
  background:#e84d37;
}

.footer {
  color: #ffffff;

  background-color: #849d8f;
  background-image: url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 2px solid gray;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-sorting a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-sorting {
  text-align:center;
}

.footer-sorting li {
  list-style: none;
}

.footer-social a:hover,
.footer-social a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: left;
}

.footer-social li {
  display:inline-block;
  list-style: none;
  background-image: url("../img/fb.svg");
  background-image: url("../img/twitter.svg");
  background-image: url("../img/vk.svg");
  background-image: url("../img/instagram.svg");
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  text-align: right;
}

.story .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 2px solid orange;
}

.breadcrumbs {
  color: #ffffff;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #849d8f;
  outline: 2px solid blue;
}

.breadcrumbs li {
  color: #ffffff;
  list-style: none;
}

.ice-cream {
  flex-wrap: wrap;
}

.page-title {
  color: #ffffff;

  font-size: 35px;
  line-height: 41px;
  font-weight: 400;
}

.filters li {
  list-style: none;
}

.filters-title {
  color: #ffffff;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-title input {
  color: #ffffff;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filters-title button {
  color: #ffffff;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.paginatior-item {
    width: 50px;
    padding: 10px;
    margin: 0 auto;
    color: #ffffff;
}

.paginatior-item {
  display:inline-block;
   height: 40px;
   padding: 0 10px;
   text-align: center;
  vertical-align: middle;
}

.paginatior-item .prev {
    margin-right: 20px;
    text-indent: -1000px;
    background-image: url("../img.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.paginatior-item .next {
    margin-left: 20px;
    text-indent: -1000px;
    background-image: url("../img.svg");
    background-position: 0 -40px;
    background-repeat: no-repeat;
}

.paginatior-list {
  list-style: none;
}
.paginatior-list {
  text-align:right;
}

.paginatior-item a {
  color: #ffffff;

  background-color: #849d8f;
}

.paginatior-item a:hover,
.paginatior-item a:focus,
.paginatior-item a:active {
  background-color: #323232;
}

.paginatior-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.paginatior-item-current a:hover,
.paginatior-item-current a:focus,
.paginatior-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.feedback {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.feedback h2 {
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.feedback input {
  color: #000000;
  font: inherit;

  background-color: #ffffff;
  border: 2px solid #000000;
}

.feedback textarea {
  color: #000000;
  font: inherit;

  background-color: #ffffff;
  border: 2px solid #000000;
}
