body {
  margin: 0;
  padding: 0;

  color: #323232;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.inner-page {
  color: #000000;
  background-color: #849d8f;
  background-repeat: repeat;
  background-position: 0 0;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button:hover, .button:focus, .button:active {
  background: #ed5b3d;
}

.logo {
  width: 156px;
  height: 64px;
  margin-bottom: 34px;
  margin-left: 26px;

  content: "";

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-block li {
  display: inline-block;

  list-style: none;
}

.main-header-left {
  display: flex;
  align-items: center;

  width: 400px;

  text-decoration: underline;

  color: #ffffff;

  font-size: 16px;
  line-height: 18px;
}

.main-header-left li {
  display: inline;

  margin-right: 20px;
  margin-bottom: 38px;
  list-style: none;
}

.user-block {
  position: relative;

  color: #ffffff;

  font-size: 14px;
  line-height: 16px;
}

.user-block a {
  background-color: transparent;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  width: 400px;

  padding-left: 30px;
}

.user-navigation {
  display: flex;

  width: 270px;
  margin: 0;
  padding: 0;
}

.user-navigation a {
  margin: 7px 0 0 33px;
  padding: 2px 20px 3px 6px;
}

.basket {
  position: absolute;
  top: 22px;
  right: 26px;
  }

.button-cart::before {
  position: absolute;
  top: 8px;
  right: -23px;

  width: 100px;
  height: 64px;

  content: "";

  opacity: 0.2;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-cart:hover::before, .button-cart:focus::before, .button-cart:active::before {
  opacity: 1;
}

.button-login::before {
  position: absolute;
  top: 8px;
  right: 59px;

  width: 20px;
  height: 19px;

  content: "";

  opacity: 1;
  color: #ffffff;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.loupe {
  position: relative;
  top: 22px;
  right: 18px;

  width: 33px;
  height: 33px;

  border-radius: 50px;
  background-color: #9db1a5;
}

.entrance {
  position: absolute;
  top: 22px;
  right: 152px;

  width: 92px;
  height: 33px;
  opacity: 0.2;
  border-radius: 50px;
  background-color: #9db1a5;
}

.cart {
  position: absolute;
  top: 22px;
  right: 52px;

  width: 92px;
  height: 33px;
  opacity: 0.2;
  border-radius: 50px;
  background-color: #9db1a5;
}
}

.button-login:hover::before,
.button-login:focus::before,
.button-login:active::before {
  opacity: 1;
}

.button-search {
  position: relative;
  top: 1px;
  right: 25px;

  width: 33px;

  content: "";

  opacity: 0.2;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  font-size: 0;
}

.search {
  position: absolute;
  top: 23px;
  right: 255px;
}

.button-search:hover, .button-search:focus, .button-search:active {
  opacity: 1;
}

.site-navigation a, .user-navigation a {
  display: block;

  color: #ffffff;
}

.sub-menu {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.sub-menu:hover {
  position: static;
}

.search-form {
  display: none;
}

.cart-form {
  display: none;
}

.header-time {
  color: #ffffff;

  font-size: 14px;
  line-height: 16px;
}

.header-phone {
  color: #ffffff;

  font-size: 22px;
  line-height: 24px;
}

.header-contacts {
  display: flex;
  flex-direction: column;

  margin: 44px 0 0 85px;
}

.main-header-left a:hover, .main-header-left a:focus, .main-header-right a:hover, .main-header-right a:focus {
  ;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
}

.site-wrapper {
  transition: background-image 0.5s ease, background-color 0.5s ease;

  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper::before, .site-wrapper::after {
  visibility: hidden;

  content: "";
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider {
  position: relative;

  padding: 474px 0 0 0;

  text-align: center;

  color: #ffffff;
}

.slider-list {
  margin: 0 0 0 0;
  padding: 20px 0 0 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: -218px 0 0 249px;

  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}


.button {
  display: inline-block;

  margin-top: 31px;
  padding: 11px 44px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  font-size: 31px;
  font-weight: 600;
  line-height: 41px;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  z-index: 20;
  bottom: 63px;
  left: 0;

  margin-bottom: -34px;
  padding-left: 28px;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;

  width: 17px;
  height: 17px;
  margin-right: 8px;

  cursor: pointer;
  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked~.site-wrapper #slide1, #product-2:checked~.site-wrapper #slide2, #product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"], #product-2:checked~.site-wrapper label[for="product-2"], #product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.promo-left {
  width: 560px;
  height: 230px;
  margin: 36px 0px 35px 28px;

  color: #ffffff;
  border-radius: 15px;
  background-color: #849d8f;
  background-image: url("../img/raspberry.jpg");
  background-repeat: repeat;
  background-position: right bottom;
  background-position: 0 0;
}

.promo-left h2 {
  margin: 17px;

  font-size: 35px;
  font-weight: 400;
  line-height: 41px;
}

.promo-left p {
  margin: 0 17px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.promo-left .button {
  display: inline-block;

  margin: 41px 0 0 373px;
  padding: 11px 24px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.promo-right {
  width: 560px;
  height: 230px;
  margin: 36px 26px;

  color: #ffffff;
  border-radius: 15px;
  background-color: #849d8f;
  background-image: url("../img/chocolate.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.promo-right .button {
  display: inline-block;

  margin: 41px 0 0 350px;
  padding: 12px 23px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.promo-right h2 {
  margin: 17px 18px;

  font-size: 35px;
  font-weight: 400;
  line-height: 41px;
}

.promo-right p {
  margin: 0 17px;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.promo .container {
  display: flex;
  justify-content: space-between;
}

.ice-cream-item p {
  margin: 7px 0px 0px 15px;
  padding: 0;

  text-decoration: underline;

  color: #ffffff;
}

.ice-cream-sum {
  position: absolute;
  top: 209px;
  left: -4px;

  content: "";

  color: #ffffff;

  font-size: 45px;
  font-weight: 400;
  line-height: 45px;
}

.ice-cream-item {
  position: relative;

  width: 267px;

  list-style: none;
}

.ice-cream-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 2px 11px 0 7px;
  padding-left: 7px;
}

.ice-cream-item::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  content: "";

  background-image: url("../img/hit.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.benefit {
  height: 307px;
  margin: 39px 27px 0 27px;

  border-radius: 18px;
  background-image: url("../img/waffle.jpg");
}

.benefit-oil::before {
  position: absolute;
  top: -12px;
  left: 20px;

  width: 49px;
  height: 49px;

  content: "";

  background-image: url("../img/ice-cream.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.benefit-milk::before {
  position: absolute;
  top: 76px;
  left: -554px;

  width: 49px;
  height: 49px;

  content: "";

  background-image: url("../img/eco.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.benefit-cow::before {
  position: absolute;
  top: -102px;
  left: 585px;

  width: 49px;
  height: 49px;

  content: "";

  background-image: url("../img/cow.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.benefit-thermometer::before {
  position: absolute;
  top: -15px;
  left: 11px;

  width: 49px;
  height: 49px;

  content: "";

  background-image: url("../img/thermometer.svg");
  background-repeat: repeat;
  background-position: 0 0;
}

.benefit li {
  position: relative;

  flex-basis: 50%;

  box-sizing: border-box;
  margin: 20px 0 3px 0;
  padding: 0 0 0 77px;
}

.benefit ul {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.benefit h2 {
  margin: 0 101px 0 0;
  padding: 28px 0 0 0;

  text-align: center;

  color: #323232;

  font-size: 24px;
  line-height: 30px;
}

.subscribe .container {
  display: flex;
  justify-content: center;

  margin-top: 38px;
}

.blog-left {
  width: 560px;
  height: 220px;
  margin: 0;
  margin-right: 25px;
  padding: 0;

  text-align: left;

  color: #323232;
  border-radius: 18px;
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-position: 10% 40%;
  background-size: 150%;
}

.blog-left p {
  margin: 22px 0 0 18px;

  color: #323232;
}

.blog-left a {
  text-decoration: underline;

  color: #323232;

  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.subscribe-right {
  box-sizing: border-box;
  width: 560px;
  padding: 4px;

  text-align: left;

  color: #323232;
  border-radius: 18px;
  background-color: #f8f7f4;
  background-image: url("../img/mail.jpg");

  font-size: 16px;
  line-height: 22px;
}

.subscribe-right-wrapper {
  margin: 4px;
  padding: 3px 0 32px 0;

  border-radius: 18px;
  background-color: #ffffff;
}

.subscribe-right p {
  margin: 0;
  padding-left: 32px;

  color: #5a5a5a;
}

.subscribe-right input {
  margin: 60px 0 0 18px;
  padding: 14px 186px 5px 0;

  border: 1px solid #000000;
  background-color: transparent;

  font: inherit;
}

.subscribe-right button {
  display: inline-block;

  margin: 60px 0 0 9px;
  padding: 9px 23px 10px 14px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.modal-map {
  position: relative;

  width: 1200px;
  height: 429px;
  margin: 38px auto;
}

.address {
  position: absolute;
  top: 62px;
  right: 28px;

  width: 300px;
  height: 310px;

  border-radius: 18px;
  background-color: #ffffff;
}

.bold {
  font-size: 18px;
  font-weight: 400;
  font-weight: bold;
  line-height: 24px;
}

.modal-map p {
  margin: 0;

  color: #323232;

  font-size: 14px;
  line-height: 20px;
}

.modal-map button {
  display: inline-block;

  margin: 93px 0 0 24px;
  padding: 12px 31px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.footer {
  color: #ffffff;
  background-repeat: repeat;
  background-position: 0 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  text-align: left;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;

  list-style: none;
}

.footer-social li {
  position: relative;

  display: inline-block;

  list-style: none;
}

.twitter {
  bottom: 29px;
  left: 28px;
}

.twitter {
  box-sizing: inherit;
  width: 38px;
  height: 38px;
  margin: -3px;
  margin-right: 9px;

  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.instagram {
  bottom: 29px;
  left: 27px;
}

.instagram {
  box-sizing: inherit;
  width: 38px;
  height: 38px;
  margin: -3px;
  margin-right: 9px;

  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.facebook {
  bottom: 29px;
  left: 26px;
}

.facebook {
  box-sizing: inherit;
  width: 38px;
  height: 38px;
  margin: -3px;
  margin-right: 9px;

  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.vkontakte {
  bottom: 29px;
  left: 25px;
}

.vkontakte {
  box-sizing: inherit;
  width: 38px;
  height: 38px;
  margin: -3px;
  margin-right: 9px;

  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.heart {
  position: relative;
  top:2px;
}

.footer-sorting ul {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-sorting {
  width: 420px;
}

.footer-sorting li {
  flex-basis: 50%;

  box-sizing: border-box;
  padding: 0 0 0 25px;
}

.footer-sorting a {
  text-decoration: underline;

  color: #ffffff;

  font-size: 14px;
  line-height: 16px;
}

.footer-copyright {
  width: 116px;
}

.footer-copyright b {
  font-size: 12px;
  line-height: 18px;
}

.text {
  position: relative;
  right: 101px;
  bottom: -10px;

  font-size: 12px;
  line-height: 18px;
}

.academy {
  position:relative;
  right: 98px;
  bottom: 54px;

  width: 106px;
  height: 40px;
}

.inner-page .button-cart::before {
  position: absolute;
  top: 29px;
  right: 28px;

  width: 100px;
  height: 64px;

  content: "";

  opacity: 1;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-red {
  position: absolute;
  top: 10px;
  right: 10px;
}

.breadcrumbs {
  margin: -31px 0 0 0;
  padding: 0 0 0 27px;

  color: #ffffff;
  background-color: #849d8f;

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-main::before {
  position: absolute;
  top: 0px;
  right: 0px;

  content: "";

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs li {
  position: relative;

  display: inline-block;

  margin: 10px 17px 0 0;
  padding: 0;

  list-style: none;

  text-decoration: underline;
}

.page-title {
  margin: 4px 0 0 26px;
  padding: 0;

  color: #ffffff;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.filters-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 880px;
}

.filters li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.filters-title {
  color: #ffffff;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filters-title input {
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filters-title button {
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.catalog p {
  margin: 0;
  padding: 0;

  text-decoration: underline;

  color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 267px;

  list-style: none;
}

.catalog-sum {
  position: absolute;
  top: 209px;
  left: -4px;

  content: "";

  color: #ffffff;

  font-size: 45px;
  font-weight: 400;
  line-height: 45px;
}

.look {
  display: none;
}

.paginatior-item {
  display: inline-block;

  width: 50px;
  height: 40px;
  margin: 0 auto;
  padding: 0 10px;

  text-align: center;
  vertical-align: middle;

  color: #ffffff;
}

.paginatior-item .prev {
  margin-right: 20px;

  text-indent: -1000px;

  background-image: url("../img/checkbox-off.svg");
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.paginatior-item .next {
  margin-left: 20px;

  text-indent: -1000px;

  background-image: url("../img.svg");
  background-repeat: no-repeat;
  background-position: 0 -40px;
}

.paginatior-list {
  list-style: none;

  text-align: right;
}

.paginatior-item a {
  color: #ffffff;
  background-color: #849d8f;
}

.paginatior-item a:hover, .paginatior-item a:focus, .paginatior-item a:active {
  background-color: #323232;
}

.paginatior-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.paginatior-item-current a:hover, .paginatior-item-current a:focus, .paginatior-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}

.feedback {
  position: fixed;
  z-index: 2;
  top: 340px;
  left: 50%;

  display: none;

  width: 480px;
  margin-left: -226px;
  padding: 20px 26px;

  color: #000000;
  background-color: #f8f3f0;
  background-image: url("img/pattern-light.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.feedback-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background: #5c6e64;
}

.feedback-close {
  position: absolute;
  top: 40px;
  right: 35px;

  width: 22px;
  height: 22px;

  cursor: pointer;

  border: 0;

  font-size: 0;
}

.feedback-close::before, .feedback-close::after {
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  content: "";

  background-color: #323232;
}

.feedback-close::before {
  transform: rotate(45deg);
}

.feedback-close::after {
  transform: rotate(-45deg);
}

.feedback h2 {
  margin: 0;
  margin-bottom: 20px;

  text-align: left;

  font-size: 24px;
  line-height: 28px;
}

.feedback input {
  color: #000000;
  border: 1px solid #000000;
  background-color: #ffffff;

  font: inherit;
}

.feedback-form input:focus {
  border-color: #663d15;
}

.feedback textarea {
  width: 430px;

  color: #cfcfcf;
  border: 1px solid #000000;
  background-color: #ffffff;

  font: inherit;
}

.submit {
  position: absolute;

  display: inline-block;

  margin: -12px 67px;
  padding: 12px 13px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.feedback-form input[type="text"], .feedback-form input[type="password"] {
  box-sizing: border-box;
  width: 270px;
  padding: 10px 15px;
  padding-right: 40px;

  text-transform: uppercase;

  color: #cfcfcf;

  font: inherit;
}

.feedback-form p {
  font-size: 16px;
  line-height: 24px;
}
